<div class="container">
  <div class="rw">
    <div class="col-5">
      <div class="p-5">
        <h3>Projects and Partners</h3>
        <div class="">Whatever your project is, we are here to lend our expertise.</div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="rw2 col-10">
          <img src="assets/Frame.svg" alt="">
          <img src="assets/Frame2.svg" alt="">
        </div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="rw2 col-10">
          <img src="assets/Frame.svg" alt="">
          <img src="assets/Frame2.svg" alt="">
        </div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="rw2 col-10">
          <img src="assets/Frame.svg" alt="">
          <img src="assets/Frame2.svg" alt="">
        </div>
        <div class="space"></div>
        <div class="space"></div>
        <!-- <div class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae
          iaculis massa. Proin egestas tellus nunc, eu</div> -->
      </div>
    </div>
    <div class="col-4">
      <img src="assets/pillar.svg" alt="">
    </div>
  </div>
</div>
