<div class="space"></div>
<div class="container">
  <div class="p-5">
    <h3>Our Products</h3>
    <div class="col-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae
      iaculis massa. Proin egestas tellus nunc, eu</div>
  </div>


  <div class="container cn">
    <carousel [transitionDuration]="400" [pauseOnHover]="true" [autoplay]="true" [margin]="40" [loop]="true"
      [height]="350" [arrowsTheme]="'light'" [arrowsOutside]="true" [borderRadius]="20">
      <div class="carousel-cell">
        <div class="con_wrap">
          <div class="container-card">
            <img src="assets/product1.svg" alt="Snow" style="width:100%;">
            <div class="bottom-left">
              <h4>C25</h4>
              <p>Concrete</p>
              <div>Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Duis
                sodales velit vitae nisi pharetra</div>
              <h6>N00000</h6>
            </div>
          </div>
          <br>
          <div class="btn">
            Order now
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="con_wrap">
          <div class="container-card">
            <img src="assets/product1.svg" alt="Snow" style="width:100%;">
            <div class="bottom-left">
              <h4>C25</h4>
              <p>Concrete</p>
              <div>Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Duis
                sodales velit vitae nisi pharetra</div>
              <h6>N00000</h6>
            </div>
          </div>
          <br>
          <div class="btn">
            Order now
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="con_wrap">
          <div class="container-card">
            <img src="assets/product1.svg" alt="Snow" style="width:100%;">
            <div class="bottom-left">
              <h4>C25</h4>
              <p>Concrete</p>
              <div>Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Duis
                sodales velit vitae nisi pharetra</div>
              <h6>N00000</h6>
            </div>
          </div>
          <br>
          <div class="btn">
            Order now
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="con_wrap">
          <div class="container-card">
            <img src="assets/product1.svg" alt="Snow" style="width:100%;">
            <div class="bottom-left">
              <h4>C25</h4>
              <p>Concrete</p>
              <div>Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Duis
                sodales velit vitae nisi pharetra</div>
              <h6>N00000</h6>
            </div>
          </div>
          <br>
          <div class="btn">
            Order now
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="con_wrap">
          <div class="container-card">
            <img src="assets/product1.svg" alt="Snow" style="width:100%;">
            <div class="bottom-left">
              <h4>C25</h4>
              <p>Concrete</p>
              <div>Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Duis
                sodales velit vitae nisi pharetra</div>
              <h6>N00000</h6>
            </div>
          </div>
          <br>
          <div class="btn">
            Order now
          </div>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="con_wrap">
          <div class="container-card">
            <img src="assets/product1.svg" alt="Snow" style="width:100%;">
            <div class="bottom-left">
              <h4>C25</h4>
              <p>Concrete</p>
              <div>Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Duis
                sodales velit vitae nisi pharetra</div>
              <h6>N00000</h6>
            </div>
          </div>
          <br>
          <div class="btn">
            Order now
          </div>
        </div>
      </div>
    </carousel>
  </div>

  <div class="space"></div>
  <div class="space"></div>
</div>

<!-- <swiper [effect]="'coverflow'" [grabCursor]="true" [centeredSlides]="true" [slidesPerView]="'auto'" [height]="200" [coverflowEffect]="{
      rotate: 50,
      stretch: 0,
      depth: 100,
      modifier: 1,
      slideShadows: true
    }" [pagination]="false">
  <ng-template swiperSlide><img src="https://swiperjs.com/demos/images/nature-1.jpg" /></ng-template>
  <ng-template swiperSlide><img src="https://swiperjs.com/demos/images/nature-2.jpg" /></ng-template>
  <ng-template swiperSlide><img src="https://swiperjs.com/demos/images/nature-3.jpg" /></ng-template>
  <ng-template swiperSlide><img src="https://swiperjs.com/demos/images/nature-4.jpg" /></ng-template>
  <ng-template swiperSlide><img src="https://swiperjs.com/demos/images/nature-5.jpg" /></ng-template>
  <ng-template swiperSlide><img src="https://swiperjs.com/demos/images/nature-6.jpg" /></ng-template>
  <ng-template swiperSlide><img src="https://swiperjs.com/demos/images/nature-7.jpg" /></ng-template>
  <ng-template swiperSlide><img src="https://swiperjs.com/demos/images/nature-8.jpg" /></ng-template>
  <ng-template swiperSlide><img src="https://swiperjs.com/demos/images/nature-9.jpg" /></ng-template>
</swiper> -->
