

<div class="bg">
  <div class="container">
  <hr class="hr" />
  <div class="space"></div>
  <div class="rw">
    <div class="col-6">
      <div class="rw">
        <hr width="1" size="60" class="hr">
        <div class="mx-2"></div>
        <div class="">
          <h3>Sujimoto Concrete</h3>
          <h3>
            Batching Plant</h3>
        </div>
      </div>
      <div class="space"></div>
      <img src="assets/concrete-mix.svg" alt="">
    </div>
    <div class="hr2">
      <hr width="1" size="700" class="hr">
    </div>
    <div class="col-5">
      <div class="center justify-content-center">
        <h3 class="text-center">WHAT WE OFFER</h3>
        <br>
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae iaculis massa. Proin egestas tellus
            nunc, eu</p>
          <p>
            Rhoncus risus aliquam in. Fusce suscipit lectus neque, nec aliquet tellus pretium sit amet. Donec pretium
            nunc elit, vitae
          </p>
          <p>Convallis ipsum pharetra et. Proin scelerisque tortor lectus, a accumsan lacus pharetra id. Lorem ipsum
            dolor sit amet.
          </p>
          <p>
            Consectetur adipiscing elit. Sed molestie, tellus non
          </p>
          <p>
            Consequat vehicula, diam nulla facilisis sem, eu dictum sem ex id libero.</p>
        </div>
        <br>
        <div class="btn">
          Get Started
        </div>
      </div>
    </div>
  </div>
  <div class="space"></div>
  <hr class="hr" />
</div>
</div>
