<div class="bg">
  <div class="container">
    <hr class="hr" />
    <div class="space"></div>
    <div class="rw">
      <div class="col-6">
        <div class="rw">
          <hr width="1" size="60" class="hr">
          <div class="mx-2"></div>
          <div class="">
            <h3>Sujimoto Concrete</h3>
            <h3>
              Batching Plant</h3>
          </div>
        </div>
        <div class="space"></div>
        <img src="assets/concrete-mix.svg" alt="">
      </div>
      <div class="hr2">
        <hr width="1" size="700" class="hr">
      </div>
      <div class="col-5">
        <div class="center justify-content-center">
          <h3 class="text-center">WHAT WE OFFER</h3>
          <br>
          <div>
            <p><Strong style="color: #ef8e7e;">High Quality -</Strong> At Sujimoto Batching Plant our watchword is
              QUALITY. We will deploy only
              the best raw
              materials with no compromise.</p>
            <p> <Strong style="color: #ef8e7e;">Impeccable Service -</Strong>
              At Sujimoto, our commitment to Customer Satisfaction is almost an addition. We aim to
              establish connections with our customers that are as durable as the buildings they construct with our
              high-quality concrete.
            </p>
            <p><strong style="color: #ef8e7e;">Pricing -</strong> We strive to provide some of the most affordable and
              competitive prices in the
              concrete market.
            </p>
            <p> <strong style="color: #ef8e7e;">Research & Development/Weather Resistant -</strong>
              Sujimoto Concrete structures are eco-friendly,
              energy-efficient, and thermally efficient. Moisture-resistant concrete makes our mix particularly robust
              and durable.
            </p>
          </div>
          <br>
          <div class="btn">
            Get Started
          </div>
        </div>
      </div>
    </div>
    <p style="text-align: justify;">Sujimoto Ready-mixed Concrete is the premium answer to all of your concrete supply
      needs. We are setting standards
      for high-quality concrete.</p>

    <p>Sujimoto Ready-mixed Concrete, uniquely African, is a premium manufacturer of Ready-mixed Concrete with a focus
      on sustainable business methods, manufacturing products of the highest quality, and great financial success.</p>
    <div class="space"></div>

    <hr class="hr" />
  </div>
</div>
