<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="container">
  <hr class="hr" />
  <div class="space"></div>
  <div class="rw">
    <div class="col-3">
      <h3>Who is Sujimoto?</h3>
      <div class="space"></div>
      <p>Sujimoto, the No.1 Luxury Real Estate Company in Nigeria owner my Olasijibomi Ogundele a professional lawyer
        and Developer of the Medici in Ikoyi; the GiulianoBySujimoto which is home to Nigerian-American singer - Davido;
        LucreziaBySujimoto in Banana Island; the LeonardoBySujimoto waterfront tower in Banana Island; the proposed
        QueenAminaBySujimoto, a first-of-its-kind luxury tower located in highbrow Abuja; and the developer of the
        proposed Sujimoto Tower in Downtown Dubai, Cape Town and Johannesburg.</p>
      <br />
      <img src="assets/suji.svg" alt="">
      <div class="tt">GMD Sujimoto Group</div>
    </div>
    <div class="col-7">
      <div class="rw">
        <div class="col-3 ff">
          <img src="assets/leo.svg" alt="">
          <div class="space"></div>
          <h5>Leonardo</h5>
          <p>The LeonardoBySujimoto is a priceless heritage of architectural masterpieces, masterfully crafted to
            precision, designed to appeal to the exclusive vital few, who love exceptional living. To celebrate African
            artists, Leonardo will have over 1000 iconic African artworks and sculptures – The first of their kind in
            Africa.</p>
          <div style="color: #ef8e7e; font-size: 10px;">Read more</div>
        </div>
        <div class="col-3 ff">
          <img src="assets/luc.svg" alt="">
          <div class="space"></div>
          <h5>Lucrezia</h5>
          <p>The Lucrezia is the rebirth of architectural elegance, mastery of architectural complexities, and
            flamboyance. It combines 3 rare attributes- Beauty, Affluence, and Style. Comprising 16 maisonettes and 2
            penthouses, Lucrezia is designed to be a trailblazer in Africa’s most expensive square meter, Banana Island.
          </p>
          <div style="color: #ef8e7e; font-size: 10px;">Read more</div>
        </div>
        <div class="col-3 ff">
          <img src="assets/gui.svg" alt="">
          <div class="space"></div>
          <h5>Giuliano</h5>
          <p>More than simply a concept, GiulianoBySujimoto is a game-changing innovation that redefines luxury living.
            There are two penthouses and eight ultra-luxurious terrace duplexes in this building</p>
          <div style="color: #ef8e7e; font-size: 10px;">Read more</div>
        </div>
      </div>
      <div class="space"></div>
      <br>
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu magna justo. Aliquam erat volutpat.
        Nulla finibus molestie nisi vel ornare. Suspendisse vestibulum semper risus, eu pulvinar velit lobortis sed.
        Vivamus fermentum nulla sed eleifend semper. Suspendisse imperdiet eleifend augue a viverra. Sed ut odio non</p> -->
    </div>
  </div>
</div>
<div class="space"></div>
<div class="space"></div>
<div class="form-con">
  <div class="rw">
    <div class="col-5">
      <input type="text" placeholder="Full name">
      <div class="fSpace"></div>
      <input type="email" placeholder="Mail">
      <div class="fSpace"></div>
      <input type="text" placeholder="Title">
      <div class="space"></div>
      <div class="space"></div>
      <h6>Fill only when you want to make an order</h6>
      <div class="col-6 rw">
        <div class="am">
          <div>Amount needed</div>
          <select name="amount" id="amount"></select>
        </div>
        <div class="wid"></div>
        <div class="am">
          <div>Day of project</div>
          <select name="amount" id="amount"></select>
        </div>
      </div>
    </div>
    <div class="col-6">
      <textarea name="mssg" id="mssg" cols="30" rows="10" placeholder="Write here"></textarea>
      <div class="space"></div>
      <div class="btn" style="float:right">
        Get Started
      </div>
    </div>
  </div>
</div>
<div class="space"></div>
